@use "/src/scss/patterns" as *;

.container {
    @extend %centered-flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 460px;
    aspect-ratio: 1.45/1;
    z-index: 1;

    .playerContainer {
        @extend %centered-flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;

        Button {
            width: 100%;
        }

        .iframeContainer {
            @extend %rounded-top-edges;
            border: 0 solid var(--thirdly-color);
            border-width: 0.125em 0.125em 0;
            width: 100%;
            height: 100%;
            transition: all 1s ease;

            .iframe {
                overflow: auto;
                width: 100%;
                height: 100%;
            }
        }

        .progressBarContainer {
            @extend %centered-flex;
            width: 100%;

            span,
            input[type="range"] {
                height: 100%;
                background-color: var(--secondary-color);
            }

            span {
                @extend %centered-flex;
                flex: 1;
                border: 0 solid var(--thirdly-color);
                padding: 1em;

                &:first-of-type {
                    border-left-width: 0.125em;
                }

                &:last-of-type {
                    border-right-width: 0.125em;
                }
            }

            input[type="range"] {
                @extend %rounded-no-edges;
                flex: 3;
                border: none;
            }
        }

        .hidden {
            width: 0;
            height: 0;
            opacity: 0;

            &+Button {
                @extend %rounded-top-edges;
            }
        }
    }

    .controls {
        @extend %centered-flex;
        width: 100%;

        Button {
            width: 100%;
        }

        Button:first-of-type {
            border-radius: 0 0 0 $round-edges;
        }
    }
}

.resetAspectRatio {
    aspect-ratio: unset;
}