@use "/src/scss/patterns" as *;

.container {
    @extend %centered-flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1%;
    width: 460px;
    aspect-ratio: 1.45/1;
    z-index: 1;

    * {
        line-height: 0;
    }

    .playerContainer {
        @extend %centered-flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;

        Button {
            width: 100%;
        }

        .iframeContainer {
            @extend %rounded-top-edges;
            border: solid var(--thirdly-color);
            border-width: 0.125em 0.125em 0;
            width: 100%;
            height: 100%;
            transition: all 1s ease;

            .iframe {
                overflow: auto;
                width: 100%;
                height: 100%;
            }
        }

        .progressBarContainer {
            @extend %centered-flex;
            width: 100%;

            span,
            input[type="range"] {
                min-height: 35px;
                background-color: var(--secondary-color);
            }

            span {
                @extend %centered-flex;
                padding: 1em;
                width: 20%;
                border: 0 solid var(--thirdly-color);

                &:first-of-type {
                    border-left-width: 0.125em;
                }
            }

            input[type="range"] {
                @extend %rounded-no-edges;
                width: 50%;
                border: none;
            }

            Button {
                width: 10.001%;
                border-width: 0 0.125em 0 0.125em;
            }
        }

        .hidden {
            width: 0;
            height: 0;
            opacity: 0;

            &+Button {
                @extend %rounded-top-edges;
            }
        }
    }

    .controls {
        @extend %centered-flex;
        width: 100%;
        max-width: 100%;

        Button {
            width: 100%;

            &:first-of-type {
                border-radius: 0 0 0 $round-edges;
            }
        }

        input {
            width: 100%;
            border-radius: 0 0 $round-edges 0;
        }
    }
}

.resetAspectRatio {
    aspect-ratio: unset;
}

@media (max-width:760px) {
    .container {
        position: static;
        width: 100%;
        aspect-ratio: 1.45/1;

        .playerContainer {
            &>Button {
                display: none;
            }

            .iframeContainer {
                width: 100%;
                height: 100%;
                opacity: 1;
                border-width: 0.125em;
            }
        }
    }
}