@use "/src/scss/patterns" as *;

.musicVideoItem,
.playlistItem {
    @extend %centered-flex, %rounded-all-edges;
    justify-content: flex-start;
    gap: 10px 25px;
    padding: 1%;
    width: 100%;
    border: 0.125em solid var(--quaternary-color);
    height: 150px;

    .thumbnailContainer {
        @extend %centered-flex, %rounded-all-edges;
        width: 200px;
        height: 100%;
        position: relative;
        overflow: hidden;
        border: 0.125em solid var(--quaternary-color);
        overflow: hidden;

        .thumbnail {
            @extend %centered-flex;
            width: 200px;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }

        .duration,
        .itemCount {
            @extend %centered-flex;
            padding: 1%;
            width: fit-content;
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: $round-edges 0 0 0;
            background-color: var(--quaternary-color);
        }
    }

    .info {
        padding: 1%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 0 solid var(--quaternary-color);
        border-left-width: 0.125em;

        .title {
            width: fit-content;
            display: -webkit-box;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .meta {
            @extend %centered-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;

            div {
                @extend %centered-flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 10px;

                span {
                    @extend %rounded-all-edges;
                    min-width: fit-content;
                    padding: 5px;
                    background-color: var(--quinary-color);
                }

                .type {
                    background-color: var(--quaternary-color);
                }
            }
        }
    }
}

@media (max-width:830px) {

    .musicVideoItem,
    .playlistItem {
        height: 200px;

        .info {
            justify-content: space-evenly;
        }
    }
}

@media (max-width:600px) {

    .musicVideoItem,
    .playlistItem {
        .thumbnailContainer {
            width: 0;
        }

        .info {
            border: none;
        }
    }
}