@use "/src/scss/patterns" as *;

.main {
    padding: 1%;
    width: 100%;
    min-height: 80vh;
    height: 100%;
    background-color: var(--primary-color);
    position: relative;

    * {
        line-height: normal;
    }

    .hidden {
        display: none;
    }

    .buttonsContainer {
        @extend %centered-flex;
        gap: 10px;
        padding: 1%;

        button {
            @extend %rounded-all-edges;
            flex-grow: 1;
        }
    }
}