@use "/src/scss/patterns" as *;

.playbackQueue {
    @extend %centered-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 1%;

    &>button {
        @extend %rounded-all-edges;
        width: 100%;
    }
}