@use "/src/scss/patterns" as *;

.searchBar {
    @extend %centered-flex;
    grid-column: 2/3;

    .container {
        @extend %centered-flex;
        gap: 2px;
        width: 100%;
        height: 55%;

        .input,
        .button {
            height: 100%;
            border: 0.125em solid var(--thirdly-color);
        }

        .input {
            @extend %rounded-left-edges;
            flex-grow: 3;
            background-color: var(--primary-color);
        }

        .button {
            @extend %rounded-right-edges;
            flex-grow: 1;
            background-color: var(--secondary-color);
            font-weight: 500;
            cursor: pointer;

            &:hover {
                color: var(--secondary-color);
                background-color: var(--text-color);
            }

            &:active {
                background-color: var(--quaternary-color);
            }
        }
    }
}