@use "/src/scss/patterns" as *;

.header {
    @extend %centered-flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1%;

    .container,
    .region {
        @extend %centered-flex;
        flex-grow: 1;
    }

    .container {
        justify-content: flex-start;
        padding: 1%;

        * {
            line-height: 1.05;
        }

        .logo {
            font-size: 2.5em;
            letter-spacing: 0.05em;
            -webkit-text-stroke: 0.025em var(--thirdly-color);

            a {
                color: var(--quaternary-color);
            }

            &:hover,
            &:focus {
                filter: drop-shadow(0 0 5px var(--quaternary-color));
            }

            &:active {
                a {
                    color: var(--text-color);
                }
            }
        }
    }

    .region select {
        @extend %rounded-all-edges;
        width: 100%;
        height: 55%;
        text-align: center;
        border: 0.125em solid var(--thirdly-color);
        background-color: var(--primary-color);

        option {
            background-color: var(--quaternary-color);
        }
    }
}

@media (max-width:423px) {
    .header {
        padding: 3%;

        .container {
            justify-content: center;
        }
    }
}