@use "/src/scss/patterns" as *;

.header {
    padding: 0 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

    .container {
        @extend %centered-flex;
        justify-content: flex-start;
        grid-column: 1/2;
        padding: 5%;

        .logo {
            font-size: 2.5em;
            letter-spacing: 0.05em;
            -webkit-text-stroke: 0.025em var(--thirdly-color);

            a {
                color: var(--quaternary-color);
            }

            &:hover,
            &:focus {
                filter: drop-shadow(0 0 5px var(--quaternary-color));
            }

            &:active {
                a {
                    color: var(--text-color);
                }
            }
        }
    }

    .region {
        @extend %centered-flex;
        grid-column: 3/4;

        select {
            @extend %rounded-all-edges;
            width: 100%;
            height: 55%;
            text-align: center;
            border: 0.125em solid var(--thirdly-color);
            background-color: var(--primary-color);

            option {
                background-color: var(--quaternary-color);
            }
        }
    }
}