@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nata Sans", sans-serif;
  line-height: 0;
  color: var(--text-color);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  scroll-behavior: smooth;
}
*:focus {
  border-color: var(--quaternary-color) !important;
  text-decoration-color: var(--quaternary-color) !important;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body header,
body footer {
  width: 100%;
  min-height: 10vh;
  background-color: var(--quinary-color);
}
body input[type=text],
body input[type=range],
body button,
body select {
  padding: 0.5em;
  min-height: 35px;
  color: var(--text-color);
}

:root {
  --primary-color: #131313;
  --secondary-color: #2c0d54;
  --thirdly-color: #4a1a8c;
  --quaternary-color: #7a3dbf;
  --quinary-color: #2f2f2f;
  --text-color: #ffffff;
}