@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nata Sans", sans-serif;
    line-height: 0;
    color: var(--text-color);
    transition: all 0.2s ease;
    outline: none;

    &:focus {
        border-color: var(--quaternary-color) !important;
        text-decoration-color: var(--quaternary-color) !important;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

body {

    header,
    footer {
        width: 100%;
        min-height: 10vh;
        background-color: var(--quinary-color);
    }

    input[type="text"],
    input[type="range"],
    button {
        padding: 0.5em;
        min-height: 30px;
        color: var(--text-color);
    }
}